img
{  border-style: none;
}
form.ats-ui-form h4 {
    color: #222;
    font: normal 1.8em Arial,Helvetica,sans-serif;
    margin: 1em 0 2em 15.5em;
}
form.ats-ui-form {

}
form.ats-ui-form button.submit,form.ats-ui-form a.submit{
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: .1em solid #3079ed;
    font-size: 1.1em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -o-border-radius: 3.3em;
    border-radius: .3em;
    float: left;
    min-width: 8em;
    line-height: 2.5em;
    font-weight: bold;
}
form.ats-ui-form button.submit:hover {
    border: .1em solid #2f5bb7;
    cursor: pointer;
}
form.ats-ui-form a.cancel{
    color: #222;
    text-align: center;
    text-decoration: none;
    background-color: #f5f5f5;
    border: .1em solid #e5e5e5;
    font-size: 1.1em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -o-border-radius: 3.3em;
    border-radius: .3em;
    float: left;
    min-width: 8em;
    line-height: 2.5em;
    font-weight: bold;
    margin-left: 2em;
}
form.ats-ui-form a.cancel:hover {
    border: .1em solid #d5d5d5;
}
.ats-ui-form div.row {
    margin-bottom: 1em;
}
.ats-ui-form div.row span.error{
    color: #c02;
    font-size: 1.2em; 
    line-height: 2em; 
    height: 2em
}
.ats-ui-form div.row p.msg {
    border: .1em solid #ff0000;
    margin-left: 15.5em;
    float: left;
    padding: .5em .8em;
    color: #990099;
    font-size: 1.2em;
    background-color: #FFFFCC;
}
.ats-ui-form div.row p.msg b{
    display: block;
    margin-bottom: .5em;
    color: #ff0000;
    border-bottom: .1em solid #ff0000;
    font-size: 1.5em;
}
.ats-ui-form div.row p.msg2 {
    margin-left: 15.5em;
    float: left;
    padding: .5em .5em .5em 2.5em;
    color: #000;
    border: .1em solid lime;
    font-size: 1.2em;
    background: honeyDew  url('../images/btn-success.png') .5em center no-repeat;
}
form.mailist-ui-form h4 {
    border-bottom: .1em solid #141414;
    color: #777;
    padding: .5em 0 1em 13em;
    font-size: 1.8em;
    font-weight: 300;
    text-shadow: 0 -.1em 0 #000000;
}
form.mailist-ui-form button.submit{
    height: 3em;
    border: #a7a7a7 solid .1em;
    background-color: #ececec;
    background: -webkit-linear-gradient(#fefefe,#dbdbdb);
    background: -moz-linear-gradient(#fefefe,#dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#dbdbdb');
    text-shadow: white 0 .1em 0;
    font-size: 1.2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -o-border-radius:2.3em;
    border-radius: .2em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
form.mailist-ui-form button.submit:hover {
    opacity: 0.8;
    border: #a7a7a7 solid .1em;
    background: -webkit-linear-gradient(#fefefe,#bcbcbc);
    background: -moz-linear-gradient(#fefefe,#bcbcbc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#bcbcbc');
    cursor: pointer;
}
.mailist-ui-form div.row {
    margin-bottom: 1em;
}
.mailist-ui-form div.row span.error{
    color: yellow;
    font-size: 1.2em; 
    line-height: 2em; 
    height: 2em;
}
.mailist-ui-form div.row p.msg {
    border: .1em solid #ff0000;
    margin-left: 15.5em;
    float: left;
    padding: .5em .8em;
    color: #990099;
    background-color: #FFFFCC;
}
.mailist-ui-form div.row p.msg b{
    display: block;
    margin-bottom: .5em;
    color: #ff0000;
    border-bottom: .1em solid #ff0000;
    font-size: 1.5em;
}
.mailist-ui-form div.row p.msg2 {
    margin-left: 15.5em;
    float: left;
    padding: .5em .5em .5em 2.3em;
    color: #000;
    border: .1em solid lime;
    background: honeyDew  url('../images/btn-success.png') .4em center no-repeat;
}
.ats-ui-form input{
    height: 2.1em;
    border: .1em solid #6f9bc0;
    padding: .2em;
}
.ats-ui-form textarea{
    border: .1em solid #6f9bc0;
    padding: .2em;
}
.ats-ui-form select{
    height: 2.7em;
    border: .1em solid #6f9bc0;
    padding: .2em;
}
.ats-ui-form input:focus, form select:focus, form textarea{
    outline: 0;
}
.ats-ui-form .label{
    text-align: right;
    line-height: 2.8em;
    padding: .1em .5em .1em .1em;
    font-size: 1.4em;
    float: left;
    color: #514946;
}
.ats-ui-form button {
    line-height: 2.5em;
    padding: 0 .5em;
}
.ats-ui-form .validator {
    padding: 0 .4em;
    border: .1em solid #999;
    background: #fff;
    color: #444;
    font-size: 1.2em;
    line-height: 2em;
    margin-left: .5em;
    display: inline-block;
}
.ats-ui-filter-form, .ats-ui-filter-form * {
    float: left;
}
.ats-ui-filter-form select.filter_by {
    height: 2.7em;
    border: .1em solid #6f9bc0;
    padding: .2em;
    min-width: 15em;
    margin-right: .5em; 
}
.ats-ui-filter-form .filters input {
    height: 2.1em;
    border: .1em solid #6f9bc0;
    padding: .2em;
    width: 20em;
    margin-right: .5em; 
}
.ats-ui-filter-form .filters select {
    height: 2.7em;
    border: .1em solid #6f9bc0;
    padding: .2em;
    width: 20.6em;
    margin-right: .5em; 
}
.ats-ui-filter-form label {
    text-align: right;
    line-height: 2.8em;
    padding: .1em .5em .1em .1em;
    float: left;
    color: #514946;
    margin: 0 .5em 0 2em; 
}
.autosuggest {
    border-top: 0;
    list-style:none;
    list-style-type:none;
    list-style-image:none;
    display: none;
    border: .1em solid #999;
    z-index: 500;
}
.autosuggest li a{
    background: #fff;
    color: #333;
    line-height: 2.5em;
    padding: 0 .4em;
    cursor: pointer;
    display: block;
    font-size: 1.3em;
}
.autosuggest li a:hover {
    background: blue;
    color: #fff;
}
.w10 {
    width: 1em;
}
.w20 {
    width: 2em;
}
.w30 {
    width: 3em;
}
.w40 {
    width: 4em;
}
.w50 {
    width: 5em;
}
.w60 {
    width: 6em;
}
.w70 {
    width: 7em;
}
.w80 {
    width: 8em;
}
.w90 {
    width: 9em;
}
.w100 {
    width: 10em;
}
.w110 {
    width: 11em;
}
.w120 {
    width: 12em;
}
.w130 {
    width: 13em;
}
.w140 {
    width: 14em;
}
.w150 {
    width: 15em;
}
.w160 {
    width: 16em;
}
.w170 {
    width: 17em;
}
.w180 {
    width: 18em;
}
.w190 {
    width: 19em;
}
.w200 {
    width: 20em;
}
.w220 {
    width: 22em;
}
.w240 {
    width: 24em;
}
.w260 {
    width: 26em;
}
.w280 {
    width: 28em;
}
.w300 {
    width: 30em;
}
.w320 {
    width: 32em;
}
.w340 {
    width: 34em;
}
.w360 {
    width: 36em;
}
.w380 {
    width: 38em;
}
.w400 {
    width: 40em;
}
.w450 {
    width: 45em;
}
.w500 {
    width: 50em;
}
.w550 {
    width: 55em;
}
.w600 {
    width: 60em;
}
.w650 {
    width: 65em;
}
.w700 {
    width: 70em;
}
.w750 {
    width: 75em;
}
.w800 {
    width: 80em;
}
.w850 {
    width: 85em;
}
.w900 {
    width: 90em;
}
.w950 {
    width: 95em;
}
.w1000 {
    width: 100em;
}
.h10 {
    height: 1em;
}
.h20 {
    height: 2em;
}
.h30 {
    height: 3em;
}
.h40 {
    height: 4em;
}
.h50 {
    height: 5em;
}
.h60 {
    height: 6em;
}
.h70 {
    height: 7em;
}
.h80 {
    height: 8em;
}
.h90 {
    height: 9em;
}
.h100 {
    height: 10em;
}
.h110 {
    height: 11em;
}
.h120 {
    height: 12em;
}
.h130 {
    height: 13em;
}
.h140 {
    height: 14em;
}
.h150 {
    height: 15em;
}
.h160 {
    height: 16em;
}
.h170 {
    height: 17em;
}
.h180 {
    height: 18em;
}
.h190 {
    height: 19em;
}
.h200 {
    height: 20em;
}
.h220 {
    height: 22em;
}
.h240 {
    height: 24em;
}
.h260 {
    height: 26em;
}
.h280 {
    height: 28em;
}
.h300 {
    height: 30em;
}
.h320 {
    height: 32em;
}
.h340 {
    height: 34em;
}
.h360 {
    height: 36em;
}
.h380 {
    height: 38em;
}
.h400 {
    height: 40em;
}
.h450 {
    height: 45em;
}
.h500 {
    height: 50em;
}
.h550 {
    height: 55em;
}
.h600 {
    height: 60em;
}
.h650 {
    height: 65em;
}
.h700 {
    height: 70em;
}
.h750 {
    height: 75em;
}
.h800 {
    height: 80em;
}
.h850 {
    height: 85em;
}
.h900 {
    height: 90em;
}
.h950 {
    height: 95em;
}
.h1000 {
    height: 100em;
}
.h23 {
    height: 2.3em;
}
.w205 {
    width: 20.5em;
}



