.ats-ui-datatable {
    display: block;
    font-size: 10px;
}
.ats-ui-datatable .toolbar{
    margin-bottom: 10px;
}
.ats-ui-datatable .scrollpane {
    background: #fff;
    width: 100%;
    overflow: auto;
    border: 1px solid #e5e5e5;
}
.ats-ui-datatable .toolbar form{
    display: inline-block;
    padding-left: 10px;
}
.ats-ui-datatable .toolbar form label{
    color: #333;
    font-weight: bold;
    font-size: 11px;
}
.ats-ui-datatable .datasource{
    display: none;
}
.ats-ui-datatable .toolbar .btn{
    color: #fff;
    text-align: center;
    border: #d5d5d5 solid 1px;
    text-decoration: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 33px;
    border-radius: 3px;
    float: left;
    min-width: 80px;
    line-height: 25px;
    font-weight: bold;
}
.ats-ui-datatable .toolbar .btn:hover{
    border: 1px solid #2f5bb7;
}
.ats-ui-datatable .pagination {
    display: block;
    height: 32px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-top: 0;
    width: 100%;
}
.ats-ui-datatable .pagination .record-count {
    float: left;
    color: #222;
    font-size: 13px;
    padding: 8px 10px;
}
.ats-ui-datatable .pagination .records {
    float: right;
    padding: 5px;
}
.ats-ui-datatable .pagination .records select{
    float: left;
    padding: 2px;
    min-width: 80px;
    margin: 0 5px;
}
.ats-ui-datatable .pagination .records .btn{
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 33px;
    border-radius: 3px;
    float: left;
    width: 50px;
    line-height: 21px;
    font-weight: bold;
}
.ats-ui-datatable .pagination .records .btn:hover {
    border: 1px solid #2f5bb7;
}
.ats-ui-datatable .toolbar .fullscreen{
    background: url(../images/fullscreen.png) no-repeat center;
    width: 48px;
    display: inline-block;
    height: 48px;
    border-left: 1px solid #e0e2e2;
    float: right;
}
.ats-ui-datatable .toolbar .fullscreen:hover{
    cursor: pointer;
}
.ats-ui-datatable .th{
    background: #f5f5f5;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    width:100%;
    clear: both;
}
.ats-ui-datatable .th_fix{
    height: 30px;
    display: none;
}
.ats-ui-datatable .action-btn{
    float: left;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 5px;
    background: url('../images/icons/edit-row.png') center no-repeat;
}
.selected{
    background: #507BC9;
    color: #fff;
}
.notselected {
    color: #333;
    background: #fff;
}
.ats-ui-datatable .row{
    line-height: 25px;
    height: 25px;
    border-bottom: 1px solid #ddd;
    clear: both;
}
.ats-ui-datatable .row .columns{
    height: 100%;
}
.ats-ui-datatable .expand .expand-tr{
    line-height: 25px;
    height: 25px;
    border: 1px solid #e0e2e2;
    border-left: 0;
    border-top: 0;
    clear: both;
}
.ats-ui-datatable .row .column{
    line-height: 25px;
    height: 25px;
    color: #222;
    border-right: 1px solid #fff;
    float: left;
    font-size: 11px;
    padding: 0 4px;
    overflow: hidden;
}
.ats-ui-datatable .expand{
    border: 1px solid #e0e2e2;
    border-left: 0;
    border-right: 0;
    background: #dfd;
    display: none;
}
.ats-ui-datatable .expand .expand-tr .expand-td{
    line-height: 25px;
    height: 25px;
    border-left: 1px solid #e0e2e2;
    float: left;
    font-size: 11px;
    padding: 0 4px;
    overflow: hidden;
}
.ats-ui-datatable .expand .expand-tr .expand-th{
    line-height: 30px;
    height: 30px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    border-left: 1px solid #e0e2e2;
    float: left;
    padding: 0 4px;
    overflow: hidden;
}
.ats-ui-datatable .info{
    display: none;
}
.ats-ui-datatable .row .column input{
    width: inherit;
    height: inherit;
    line-height: inherit;
    border: 0;
    color: inherit;
    margin: 0 -4px;
    padding: 0 4px;
    font-size: inherit;
}
.ats-ui-datatable .row .column select{
    width: inherit;
    height: inherit;
    line-height: inherit;
    border: 0;
    color: inherit;
    margin: 0 -4px;
    font-size: inherit;
}
.ats-ui-datatable .th .column{
    line-height: 40px;
    height: 40px;
    color: #222;
    font-weight: bold;
    font-size: 11px;
    border-right: 1px solid #e5e5e5;
    float: left;
    padding: 0 4px;
}
.ats-ui-datatable .th .column a{
    color: inherit;
    text-decoration: none;
}
.ats-ui-datatable .th .column a.active{
    text-decoration: underline;
}
.select {
    width: 52px;
    background: #999 url(../images/th_bg.jpg);
}
.select:hover{
    background: #eee;
}
.w100 {
    width: 100px;
    overflow: hidden;
}
.w200 {
    width: 200px;
    overflow: hidden;
}
.w300 {
    width: 300px;
    overflow: hidden;
}
