* {
    margin: 0;
    padding: 0;
}
body {
    color:#434141;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-size: 100%;
}
#wrapper {
    
}
#wrapper .navigation{
    background: #193048;
    width: 15.5%;
    position: fixed;
    top: 0;
    bottom: 0;
}
#wrapper .navigation a.logo{
    display: block;
    width: 80%;
    margin: 1em auto;
    border-bottom: 1px solid #c0d0e4;
}
#wrapper .navigation a.logo img{
    width: 100%;
}
#wrapper .navigation .menu{
    margin-top: 50px;
    display: block;
}
#wrapper .navigation .menu .tab{
    display: block;
    color: #c0d0e4;
    line-height: 30px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: .85em;
    padding-left: 40px;
    font-weight: normal;
    cursor: pointer;
}
#wrapper .navigation .menu .home-icon {
    background: url('../images/icons/home.png') 10px center no-repeat;
}
#wrapper .navigation .menu .folder-icon {
    background: url('../images/icons/folder.png') 10px center no-repeat;
}
#wrapper .navigation .menu .book-icon {
    background: url('../images/icons/book.png') 10px center no-repeat;
}
#wrapper .navigation .menu .archive-icon {
    background: url('../images/icons/archive.png') 10px center no-repeat;
}
#wrapper .navigation .menu .tag-icon {
    background: url('../images/icons/tag.png') 10px center no-repeat;
}
#wrapper .navigation .menu .bag-icon {
    background: url('../images/icons/bag.png') 10px center no-repeat;
}
#wrapper .navigation .menu .pin-icon {
    background: url('../images/icons/pin.png') 10px center no-repeat;
}
#wrapper .navigation .menu .tab:hover{
    background-color: #0098CD;
    color: #fff;
    transition: background .5s;
}
#wrapper .navigation .menu dl{
    display: none;
}
#wrapper .navigation .menu dl dd a{
    line-height: 25px;
    color: #c0d0e4;
    text-decoration: none;
    font-size: .8em;
    padding: 3px 10px;
    padding-left: 50px;
    display: block;
}
#wrapper .navigation .menu dl dd a:hover,#wrapper .navigation .menu dl dd .active{
    background-color: #0098CD;
    color: #fff;
    transition: background .5s;
}
#wrapper .content{
    width: 84.5%;
    position: absolute;
    top: 0;
    left: 15.5%;
}
#wrapper .content div.dashboard {
    margin: 20px 0 0 20px;
}
#wrapper .content a.dashboard {
    float: left;
    width: 200px;
    height: 180px;
    background: #f5f5f5;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 180px;
    border: 1px solid #e5e5e5;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 33px;
    border-radius: 3px;
    color: #000;
}
#wrapper .content a.dashboard:hover {
    color: #fff;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
}
#wrapper .body{
    padding: 20px;
}
#header {
    background: #e3eaf3;
    height: 40px;
}
#header .menu {
    float: left;
    width: 87%;
}
#header .menu .short-cut{
    position: relative;
    height: 40px;
    width: 50px;
    margin: 0 auto;
    background: #193048 url('../images/icons/hand.png') center no-repeat;
    display: block;
    cursor: pointer;
}
#header .menu .short-cut:hover{
    
}
#header .menu .short-cut .dropdown {
    position: absolute;
    top: 2.5em;
    left: -280px;
    width: 580px;
    background: #193048;
    display: none;
    padding: 20px;
    cursor: default;
    border-radius: 0 0 10px 10px;
}
#header .menu .short-cut:hover .dropdown{
    -display: block;
}
#header .menu .short-cut .dropdown h3{
    display: block;
    padding: 4px 0;
    color: #c0d0e4;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}
#header .menu .short-cut .dropdown dl{
    float: left;
    width: 100px;
    margin: 0 20px 10px 0;
}
#header .menu .short-cut .dropdown dl dt{
    display: block;
    padding: 4px 0;
    color: #c0d0e4;
    font-size: 14px;
    font-weight: bold;
}
#header .menu .short-cut .dropdown dl dd a{
    display: block;
    padding: 4px 0;
    color: #c0d0e4;
    font-size: 14px;
}
#header .account {
    float: right;
    width: 12.5%;
    border-left: 1px solid #193048;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    background: url('../images/account-img.jpg') 100px 5px no-repeat;
}
#header .account span {
    padding-left: 10px;
}
#header .account .list {
    display: none;
}
#header .account:hover .list{
    display: block;
    left: -1px;
    right: 0;
    background: #193048;
    top: 40px;
    position: absolute;
}
#header .account:hover .list a{
    text-decoration: none;
    padding-left: 10px;
    color: #c0d0e4;
    border-bottom: 1px solid #c0d0e4;
    font-size: 0.8em;
    display: block;
}
#header .account:hover .list a:hover{
    background: #e3eaf3;
    color: #434141;
}
.clear {
    clear: both;
}
.payment-method {
    
}
.payment-method a{
    float: left;
    height: 70px;
    width: 120px;
    margin: 5px;
}
.payment-method .mastercard{
    background: url('../images/icons/mastercard.png') no-repeat;
}
.payment-method .visa{
    background: url('../images/icons/visa.png') no-repeat;
}
.payment-method .paypal{
    background: url('../images/icons/paypal.png') no-repeat;
}
.payment-method .discover{
    background: url('../images/icons/discover.png') no-repeat;
}
.payment-method .amex{
    background: url('../images/icons/amex.png') no-repeat;
}
.payment-method .jcb{
    background: url('../images/icons/jcb.png') no-repeat;
}
.payment-method .dinersclub{
    background: url('../images/icons/dinersclub.png') no-repeat;
}
.payment-method .debitcard{
    background: url('../images/icons/debitcard.png') no-repeat;
}
.block-content{
    margin-top: 10px;
}
.block-content ul{
    margin-left: 20px;
}
.block-content p {
    line-height: 20px;
    font-family: 'Noto Serif', serif;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}