* {
    margin: 0;
    padding: 0;
}
body{
    color:#333;
    font-family: tahoma,Verdana, helvetica, arial, sans-serif;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    background: #193048;
}
.error {
    height: 20px;
    color: #c02;
}
#content {
    top: 50%;
    left: 50%;
    width: 600px;
    margin: -150px 0 0 -300px;
    height: 220px;
    position: absolute;
}
#content .wrapper {
    padding: 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #fff url('../images/logo2.jpg') 10px center no-repeat;
}
center.copyright{
    color: #c0d0e4;
    line-height: 30px;
}
#login span {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #333;
}
#login span a{
    text-decoration: none;
    color:#c00;
    font-size: 11px;
    font-weight: bold;
}
#login label {
    text-align: left;
    line-height: 22px;
    height: 22px;
    width: 80px;
    text-align: right;
    padding-right: 5px;
    font-size: 12px;
    display: inline-block;
    color: #333;
}
#login .btn{
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 33px;
    border-radius: 3px;
    min-width: 80px;
    line-height: 25px;
    font-weight: bold;
}
#login .btn:hover {
    border: 1px solid #2f5bb7;
    cursor: pointer;
}
#login input {
    height: 20px;
    border: 1px solid #6f9bc0;
    padding: 2px;
    width: 170px;
}
#login input:focus {
    outline: none;
}
.row{
    margin-bottom: 10px;
}
form {
    padding: 20px 0;
    float: right;
    width: 330px;
    border-left: 1px solid #ddd;
}
form a {
    color: #3079ed;
}
.access-denied {
    padding: 20px 0;
    float: right;
    width: 330px;
    height: 130px;
    border-left: 1px solid #ddd;
}
.access-denied h4 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}
.access-denied p {
    font-size: 1.2em;
    text-align: center;
}
.access-denied p b{
    color: red;
}
.clear {
    clear: both;
}