* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Serif', serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    color: #333333;
    font-size: 62.5%;
}
#content .split-3-1 {
    width: 33.3%;
    float: left;
    height: 60em;
    background: url('../images/ad.jpg') no-repeat;
    background-size: 100%;
}
#content .split-3-2 {
    width: 66.6%;
    float: left;
    min-height: 30em;
}
.wrapper {
    width: 120em;
    margin: 0 auto;
}
a img {outline : none;}

#header {
    height: 7em;
    padding-top: 5em;
    border-bottom: .1em solid #ddd;
}
#header .logo {
    width: 10em;
    float: left;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    color: #8b0f04;
    font-weight: 700;
}
#header .nav {
    float: right;
    margin-top: 1.2em;
}
#header .nav li{
    float: left;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0 .3em;
}
#header .nav li a {
    display: block;
    line-height: 2em;
    color: #8b0f04;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: .1em;
    padding: 1em .5em;
    border-bottom: .2em solid #fff;
}
#header .nav li a:hover,#header .nav li a.active {
    border-bottom: .2em solid #8b0f04;
}
#header .nav li a.doc-link {
    display: block;
    line-height: 2em;
    color: #fff;
    background: #8b0f04;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: .1em;
    padding: .7em .7em;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -o-border-radius: .5em;
    border-bottom: .2em solid #fff;
}
#header .nav li a.doc-link:hover {
    border-bottom: .2em solid #fff;
    background: #a6190d;
}
#banner {
    height: 40em;
    background: url('../images/banner.jpg') no-repeat;
    background-size: 100%;
}
#news {
    background: #8b0f04;
    line-height: 3em;
    color: #fff;
    font-size: 1.3em;
}
#content {
    min-height: 40em;
}
#content .block-content {
    margin: 1.3em 0;
}
#content .block-content ul{
    margin-left: 2.5em;
}
#content .block-content h4 {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    letter-spacing: .1em;
    margin-bottom: .5em;
}
#content .block-content h5 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: .5em;
}
#content .block-content p {
    line-height: 1.6em;
    font-family: 'Noto Serif', serif;
    color: #333;
    font-size: 1.4em;
    margin-bottom: 1em;
}
#footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: .1em solid #ddd;
    min-height: 6em;
    background: #eee;
}
#footer .bottom {
    border-top: .1em solid #ddd;
    padding: 1em;
}
#footer .top {
    padding: 1em;
}
#footer .top .social-icons{
    float: right;
}
#footer .top .playstore-logo{
    float: right;
    height: 5em;
    width: 14.9em;
    background: url('../images/playstore.png') no-repeat;
    margin: 0 0 1em 0;
}
#footer .top .social-icons a{
    float: left;
    height: 4em;
    width: 4em;
    margin: .5em;
}
#footer .top .social-icons a:hover{
    box-shadow: .2em .2em .1em #bbb;
}
#footer .top .social-icons .facebook {
    background-image: url('../images/facebook.png');
}
#footer .top .social-icons .twitter {
    background-image: url('../images/twitter.png');
}
#footer .top .social-icons .google-plus {
    background-image: url('../images/google-plus.png');
}
#footer .top .social-icons .linkedin {
    background-image: url('../images/linkedin.png');
}
#footer .top .social-icons .youtube {
    background-image: url('../images/youtube.png');
}
#footer .top .social-icons .email {
    background-image: url('../images/email.png');
}
#footer .copyright {
    line-height: 3em;
    float: left;
    font-size: 1.1em;
}
#footer ul.nav {
    float: right;
}
#footer ul.nav li {
    float: left;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0 .3em;
    border-right: .1em solid #8b0f04;
}
#footer ul.nav li a {
    line-height: 1em;
    display: block;
    color: #8b0f04;
    text-decoration: none;
    font-size: 1.1em;
    padding: .5em .5em;
}
.clear {
    clear: both;
}
